<!DOCTYPE html>
{% load static %}
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
        <div class="social-menu">
            <h1>Follow me:</h1>
            <ul>
                <li><a href="https://www.instagram.com/kseniia_ifbblatvia" class="fa fa-instagram"></a></li>
                <li><a href="https://www.tiktok.com/@super_zav" class="fa fa-tiktok"><img src="{% static 'tiktok.png' %}"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100009190064504" class="fa fa-facebook"></a></li>
            </ul>
        </div>
</body>

</html>