<!DOCTYPE html>
<html lang="eng">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
    <header class="header">
        <div class="header-text">Follow me on:</div>
        <a href="#" class="header-link">Instagram</a>
        <a href="#" class="header-link">TikTok</a>
    </header>
<body>
        <h1>Personal training and nutrition plan</h1>
        <p>Text about it</p>




</body>
</html>